.input{
    margin: 0px 10px;
    font-family: cursive;
    border-radius: 5px;
}

.nuevasTareas{
    display: inline-block;
    text-align: end;
    border-radius: 20px;
    background-color: bisque
}

.aviso{
    background-color: red;
    border-bottom: solid;
    border-top: solid;
    position: relative;
    animation-duration: 2s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }


.legend{
    border: solid;
    border-width: thin;
    border-radius: 20px;
    background-color: white;
    font-weight: lighter;
    font-size: small;
    padding: 5px;
    background-color: darkseagreen;
    font-family: cursive;

}

.button{
    cursor: pointer;
    font-family: cursive;
    background-color: darkseagreen;
    border-radius: 5px;
}

.button:hover {
    background-color: rgb(83, 107, 83);
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }