.documento{
  width: 40%;
  border: solid;
  margin: auto;
}

h1 {
  background-color: darkseagreen;
  margin: unset;
  border-bottom: solid;
  margin-bottom: 20px;
  font-family: cursive;
  font-style: oblique;
}

header{
  position: fixed;
    width: inherit;
    background-color: white;
}

.botoneseinput{
  border-bottom: solid;
  text-align: center;
}