.documento{
  max-width: 700px;
  min-width: 500px;
  border: solid;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

h1 {
  background-color: darkseagreen;
  margin: unset;
  border-bottom: solid;
  margin-bottom: 20px;
  font-family: cursive;
  font-style: oblique;
}

.botoneseinput{
  text-align: center;
  font-weight: bold;
}

.actualizar{
  margin-right: 30px;
  cursor: pointer;
  font-family: cursive;
  background-color: darkseagreen;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
}

.actualizar:hover {
  background-color: rgb(83, 107, 83);
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}