.lista {
    font-family: cursive;
    list-style-type: none;
    padding: unset;
}

.tarea{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: bisque;
}

.rematadaOno{
    background-color: darkseagreen;
    border-radius: 20px;
    padding: 4px;
    font-size: 90%;
}